// half 21:9 aspect ratio that is outlined to indicate this area.
.cover-container {
  width: calc(50%);
  aspect-ratio: 10.5/9;
  border: 2px solid #5bb780;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  margin: 20px;
}

.logo {
  width: 150px;
  margin-bottom: 20px;
}

.open-menu-btn {
  background-color: #5bb780;
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}
