<div class="pq-layout">
  <h1>Welcome to the ProQuo AI front-end test!</h1>

  <h2>What do you need to do?</h2>
  <p>You have been tasked with completing the ProQuo AI food menu.</p>

  <p>
    To accomplish this task, you have been given some components (some wired-up, some not), a mock back-end service
    (backend.service.ts), and the ProQuo logos (the small SVG version, and the larger PNG version).
  </p>

  <p>NOTE: When the word "page" is used, it refers to the concept of a piece of paper</p>

  <h2>Implementation and Design Details</h2>

  <div>
    <h3>We would like to see the following:</h3>
    <ul>
      <li>
        We would like the menu to be contained within a 21:9 aspect ratio and should be outlined to indicate this area.
        This
        21:9 area should be treated as a two column layout (much like a menu in any traditional restaurant that you'd
        open
        like a book)
      </li>
      <li>
        A cover page for our menu.
        <ul>
          <li>
            This should contain the ProQuo AI logo. Remember - since this is the cover page, it should only use up one
            half
            of the available area (our menu is not yet open!)
          </li>
          <li>It should have a button to "Open" the menu</li>
        </ul>
      </li>
      <li>
        All of the menu items (this is the "opened" menu)
        <ul>
          <li>Have the "pq" logo at the top of both pages</li>
          <li>Display all of the menu items grouped by their type in the order: appetizer, main course, dessert</li>
          <li>As display space runs out on the first page, the items should continue on to the second</li>
        </ul>
      </li>
      <li>
        Beneath the dessert section, we'd like to have a "Restaurant History" section that should display the data from
        the
        history API call
      </li>
      <li>
        <b><u>We only want all of the menu items and the history section to display when BOTH have fully loaded</u></b>
      </li>
      <li>
        A modal to display all information for a selected menu item
        <ul>
          <li>
            Along with all of the general menu item information, we would also like to display the metadata for the
            selected
            menu item
          </li>
        </ul>
      </li>
    </ul>
  </div>

  <div>
    <h2>Nice to have</h2>
    <ul>
      <li>Use of git to make reasonable commits</li>
    </ul>
  </div>
</div>
