// 21:9 aspect ratio that is outlined to indicate this area.
.menu-container {
  width: 100%;
  aspect-ratio: 21/9;
  border: 2px solid red;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
}

.menu-column-left {
  width: calc(50% - 20px);
  margin: 10px;
  flex: 0 0 calc(50% - 20px);
  overflow: auto;
}

.menu-column-right {
  margin: 50px;
  overflow: auto;
}

.menu-section {
  margin-bottom: 20px;
}
.menu-section-restuarant {
  margin-bottom: 30px;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.close-menu-btn {
  position: fixed;
  bottom: 150px;
  right: 20px;
  background-color: #8732c8;
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.loader {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 90vw;
  height: 90vh;
}
