// 21:9 aspect ratio that is outlined to indicate this area.
.menu-container {
  width: calc(100% - 40px);
  aspect-ratio: 21/9;
  border: 2px solid #5bb780;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  margin: 20px;

  .logo-container {
    img {
      width: 120px;
      height: 40px;
    }
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .menu-content {
    width: 100%;
    max-height: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;

    .menu-section {
      width: 50%;
      padding: 10px;
      flex: 1;
    }
  }

  .controls {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px;

    .close-menu-btn {
      background-color: #8732c8;
      color: #000;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      font-size: 16px;
      cursor: pointer;
    }
  }
}

.loader {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 90vw;
  height: 90vh;
}

@media only screen and (max-width: 1200px) {
  .menu-container {
    height: auto;
    aspect-ratio: initial;

    .logo-container {
      img {
        width: 120px;
        height: 40px;
      }

      :nth-child(1) {
        display: none;
      }
    }

    .menu-content {
      flex-wrap: nowrap;

      .menu-section {
        width: 100%;
      }
    }
  }
}
